# DSC4001-01 Exercise 02

**This exercise notebook will go through the data types in Python:**


* Numbers (Numeric)
* Booleans
* Strings
* Lists
* Tuples
* Dictionaries

### Numbers

In [90]:
# 사칙연산

print(1 + 1)

2

In [91]:
print(1 * 3)

3

In [92]:
print(1 /2 )

0.5

In [93]:
print(2 ** 5)

32

In [94]:
print(4 % 2)

0

In [95]:
print(5 % 2)

1

### Variable Assignment

A statically-typed language like C or Java requires each variable to be explicitly declared.

In a dynamically-typed language like Python, we can assign any kind of data to any variable.

```
type(x): # x의 자료형 확인하기
```

In [96]:
# 정수형 (integer)
x = 11
type(x)

int

In [97]:
# 실수형 (float)
x = 2.75
type(x)

float

In [98]:
# 문자열 (string)
x = "Hello"
type(x)

str

In [99]:
# 참/거짓 (boolean)
x = True
type(x)

bool

What is the result of running the code?
```
x = 7
y = x
x = 3
print(x, ", ", y)
```

In [100]:
# Test here

x = 7
y = x
x = 3
print(x, ", ", y)

3 ,  7

What will be printed out by the code?
```
x = [10, 20, 30]
y = x
x[1] = 42

print(x)
print(y)
```

In [101]:
# Test here
x = [10, 20, 30]
y = x
x[1] = 42
 
print(x)
print(y)

[10, 42, 30]
[10, 42, 30]

How can we copy the list x? 

```
x = [10, 20, 30]
y = list(x)
x[1] = 42

print(x)
print(y)
```

In [102]:
# Test here

x = [10, 20, 30]
y = list(x)
x[1] = 42
 
print(x)
print(y)

[10, 42, 30]
[10, 20, 30]

### Strings

Try 'indexing', 'slicing', 'striding', ...

In [103]:
x = 'hello'

print(x)

hello

In [104]:
name = 'Jang'
number = 7

print('My name is: %s, and my number is: %d' %(name, number))

My name is: Jang, and my number is: 7

Given the string 
```
string = "Hello World"
```
print out the 4th character 'l'
* using (normal) index
* using negative index

print out the 9th character 'r'
* using (normal) index
* using negative index

In [105]:
string = "Hello World"

# 4th character 'l'
print(string[3])

l

In [106]:
string = "Hello World"

# 9th character 'r'
print(string[8])

r

grab the following string:

* 'Hel'
* 'Hello W'
* 'o Wor'
* 'rld'

In [133]:
string = "Hello World"
print(string[0:3])
# 'Hel': first 3 characters

Hel

In [134]:
# 'Hello W': first 7 characters
print(string[0:7])

Hello W

In [135]:
# 'o Wor'
print(string[4:9])

o Wor

In [136]:
# 'rld': last 3 characters
print(string[-3:])

rld

**Count, Find, Relace, Split, ...** 

Count the number of occurence of the character 'o'

In [138]:
# use .count()
print(string.count('o'))

2

Replace the word 'Hello' with 'Hi'

In [140]:
# use .replace()
string.replace('Hello','Hi')

'Hi World'

Split the string into words

In [141]:
# use .split()
string.split()

['Hello', 'World']

What will be printed by the code?
```
string.split('o')
```

In [142]:
# Test here
string.split('o')

['Hell', ' W', 'rld']

## Lists, Tuples, Dictionaries

Let's play with key data structures in Python

**List**

```
L = ['Hello World', 3, 2.5, ['Data', 'Science']]
```

Grab the following list 
```
L1 = [3, 2.5, ['Data','Science']]
```

In [151]:
L = ['Hello World', 3, 2.5, ['Data', 'Science']]
L1=L[1:]
# Test here
print(L1)

[3, 2.5, ['Data', 'Science']]

How to make the following list:
```
 = ['Hello World', 4001, 3, ['Data', 'Science'], 'Python']
```
* hint: use del, insert, and append

In [146]:
L = ['Hello World', 3, 2.5, ['Data', 'Science']]
del L[2]
L.insert(1,4001)
L.append('Python')
# Test here

print(L)

['Hello World', 4001, 3, ['Data', 'Science'], 'Python']

**Dictionary**
```
D = {'name':'Kim', 'birth':['March',11], 'age':27}
```

Check the keys and values, and items

In [152]:
D = {'name':'Kim', 'birth':['March',11], 'age':27}

# Keys 
D.keys()

dict_keys(['name', 'birth', 'age'])

In [153]:
# Values
D.values()

dict_values(['Kim', ['March', 11], 27])

In [154]:
# Items
D.items()

dict_items([('name', 'Kim'), ('birth', ['March', 11]), ('age', 27)])

Change the value of the key 'age' to 25 to obtain:
```
D = {'name':'Kim', 'birth':['March',11], 'age':25}
```

In [120]:
# Test here

print(D)

{'name': 'Kim', 'birth': ['March', 11], 'age': 27}

Make the following dictionary:

from 
```
D = {'name':'Kim', 'birth':['March',11], 'age':27}
```
to
```
D = {'name':'Kim', 'birth':['March',11], 'age': 25, 'height': 165}
```

In [157]:
D = {'name':'Kim', 'birth':['March',11], 'age':27}

# Test here
D['age']=25
D['height']=165
print(D)

{'name': 'Kim', 'birth': ['March', 11], 'age': 25, 'height': 165}

Write a code to print out every key-value pair in the dictionary.
```
(Key: name, Value:Kim)
(Key: birth, Value:['March', 11])
(Key: age, Value:25)
(Key: height, Value:165)
```

* hint: use for loop; get the list of keys in the dictionary; and print out key and value

In [179]:
#for 'key' in 'key list' :
D1 =  {'name':'Kim', 'birth':['March',11], 'age':27}
D2 =  {'name':'un', 'birth':['March',20], 'age':22}
D3 =  {'name':'woo', 'birth':['March',31], 'age':24}
D_list = [D1,D2,D3]


for dic in D_list:
  for key in dic.keys():      
      if dic['name'] == "Kim":
        print('(Key: {}, Value: {})'.format( key, dic[key] ))

(Key: name, Value: Kim)
(Key: birth, Value: ['March', 11])
(Key: age, Value: 27)

# DSC4001-01 Exercise 02 - Quiz

THis is a short quiz to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet. I would suggest you take course for Python beginners.

Answer the questions or complete the tasks below, use the specific method described if applicable.

**1. What is 6 to the power of 5?**

In [212]:
# Use Python code to answer the question above
6**5

7776

**2. Split this string into a list**

string = "Hello there Jane!"

In [181]:
string = "Hello there Jane!"

# Your code here
string.split()

['Hello', 'there', 'Jane!']

**3. Given the variables:**

planet = "Earth"

diameter = 12742

* print the following sentence:

The diameter of Earth is 12742 kilometers.

In [213]:
planet = "Earth"
diameter = 12742

print('The diameter of %s is %d kilometers.' %(planet, diameter))
print('The diameter of {} is {} kilometers.' .format(planet,diameter))

# Your code here

The diameter of Earth is 12742 kilometers.
The diameter of Earth is 12742 kilometers.

**4. Given the list, use indexing to grab the word "Hello"**

L = [1, 2, [3, 4], [5, [100, 200, ['Hello'], 50], 32, 11], 1, 7]

In [185]:
L = [1, 2, [3, 4], [5, [100, 200, ['Hello'], 50], 32, 11], 1, 7]

# use (normal) index
print(L[3][1][2])

['Hello']

In [186]:
# use negative index
print(L[-3][-3][-2])

['Hello']

**5. Given the dictionary, grab the word "Hello"**

D = {'k1': [1, 2, 3, {'data': ['oh', 'my', 'god', {'science': [1, 2, 'Hello']}]}], 'k2': [10, ['Python', 'programming']]}

In [188]:
D = {'k1': [1, 2, 3, {'data': ['oh', 'my', 'god', {'science': [1, 2, 'Hello']}]}], 'k2': [10, ['Python', 'programming']]}

# Check keys of the dictionary 
D.keys()

dict_keys(['k1', 'k2'])

In [189]:
# Check values of the dictionary 
D.values()

dict_values([[1, 2, 3, {'data': ['oh', 'my', 'god', {'science': [1, 2, 'Hello']}]}], [10, ['Python', 'programming']]])

In [190]:
# grab the word "Hello"
D['k1'][3]['data'][3]['science'][2]

'Hello'

**6. Create a function that grabs the email domain from a string of the email address:**

user_id@domain.co.kr

* hint: use the .split() method

In [214]:
# skeleton of the function
def Get_Domain(email):

  # use the split() here
  domain=email.split('@')[-1]

  return domain

In [215]:
Get_Domain('user_id@domain.co.kr')

'domain.co.kr'

**7. Create a function that counts the number of occurrence of the word "dog" in a string**

* hint: use split() to get the list of words in the string

In [216]:
# skeleton of the function: do account for capitalization
# 대소문자 구분 

def Count_word_cap(str):

  # initialize count variable
  count = 0

  # use split to get the list of words in the string
  # do account for capitalization
  for word in str.split():
    if word == 'dog' :
      count += 1
      
  return count

In [226]:
# skeleton of the function: do not account for capitalization
#대소문자 구분 x 

def Count_word_nocap(str):

  # initialize count variable
  count = 0

  # use split to get the list of words in the string
  # do not account for capitalization
  for word in str.upper().split():
    if word == 'DOG' :
      count += 1
  return count

In [227]:
string = 'Dog dog ddog dog Dog dDog dogG'

print(Count_word_cap(string))
print(Count_word_nocap(string))

2
4