# DSC4001-01 Exercise 02

**This exercise notebook will go through the data types in Python:**


* Numbers (Numeric)
* Booleans
* Strings
* Lists
* Tuples
* Dictionaries

### Numbers

In [ ]:
# 사칙연산

print(1 + 1)

In [ ]:
print(1 * 3)

In [ ]:
print(1 /2 )

In [ ]:
print(2 ** 5)

In [ ]:
print(4 % 2)

In [ ]:
print(5 % 2)

### Variable Assignment

A statically-typed language like C or Java requires each variable to be explicitly declared.

In a dynamically-typed language like Python, we can assign any kind of data to any variable.

```
type(x): # x의 자료형 확인하기
```

In [ ]:
# 정수형 (integer)
x = 11
type(x)

In [ ]:
# 실수형 (float)
x = 2.75
type(x)

In [ ]:
# 문자열 (string)
x = "Hello"
type(x)

In [ ]:
# 참/거짓 (boolean)
x = True
type(x)

What is the result of running the code?
```
x = 7
y = x
x = 3
print(x, ", ", y)
```

In [ ]:
# Test here

What will be printed out by the code?
```
x = [10, 20, 30]
y = x
x[1] = 42

print(x)
print(y)
```

In [ ]:
# Test here

How can we copy the list x? 

```
x = [10, 20, 30]
y = list(x)
x[1] = 42

print(x)
print(y)
```

In [ ]:
# Test here

### Strings

Try 'indexing', 'slicing', 'striding', ...

In [ ]:
x = 'hello'

print(x)

In [ ]:
name = 'Jang'
number = 7

print('My name is: %s, and my number is: %d' %(name, number))

Given the string 
```
string = "Hello World"
```
print out the 4th character 'l'
* using (normal) index
* using negative index

print out the 9th character 'r'
* using (normal) index
* using negative index

In [ ]:
string = "Hello World"

# 4th character 'l'

In [ ]:
string = "Hello World"

# 9th character 'r'

grab the following string:

* 'Hel'
* 'Hello W'
* 'o Wor'
* 'rld'

In [ ]:
string = "Hello World"

# 'Hel': first 3 characters

In [ ]:
# 'Hello W': first 7 characters

In [ ]:
# 'o Wor'

In [ ]:
# 'rld': last 3 characters

**Count, Find, Relace, Split, ...** 

Count the number of occurence of the character 'o'

In [ ]:
# use .count()

Replace the word 'Hello' with 'Hi'

In [ ]:
# use .replace()

Split the string into words

In [ ]:
# use .split()

What will be printed by the code?
```
string.split('o')
```

In [ ]:
# Test here

## Lists, Tuples, Dictionaries

Let's play with key data structures in Python

**List**

```
L = ['Hello World', 3, 2.5, ['Data', 'Science']]
```

Grab the following list 
```
L1 = [3, 2.5, ['Data','Science']]
```

In [ ]:
L = ['Hello World', 3, 2.5, ['Data', 'Science']]

# Test here

How to make the following list:
```
 = ['Hello World', 4001, 3, ['Data', 'Science'], 'Python']
```
* hint: use del, insert, and append

In [ ]:
L = ['Hello World', 3, 2.5, ['Data', 'Science']]

# Test here

print(L)

**Dictionary**
```
D = {'name':'Kim', 'birth':['March',11], 'age':27}
```

Check the keys and values, and items

In [ ]:
D = {'name':'Kim', 'birth':['March',11], 'age':27}

# Keys

In [ ]:
# Values

In [ ]:
# Items

Change the value of the key 'age' to 25 to obtain:
```
D = {'name':'Kim', 'birth':['March',11], 'age':25}
```

In [ ]:
# Test here

print(D)

Make the following dictionary:

from 
```
D = {'name':'Kim', 'birth':['March',11], 'age':27}
```
to
```
D = {'name':'Kim', 'birth':['March',11], 'age': 25, 'height': 165}
```

In [ ]:
D = {'name':'Kim', 'birth':['March',11], 'age':27}

# Test here

print(D)

Write a code to print out every key-value pair in the dictionary.
```
(Key: name, Value:Kim)
(Key: birth, Value:['March', 11])
(Key: age, Value:25)
(Key: height, Value:165)
```

* hint: use for loop; get the list of keys in the dictionary; and print out key and value

In [ ]:
#for 'key' in 'key list' :
#  print('(Key: {}, Value: {})'.format( 'key', 'value of the key' ))

# DSC4001-01 Exercise 02 - Quiz

THis is a short quiz to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet. I would suggest you take course for Python beginners.

Answer the questions or complete the tasks below, use the specific method described if applicable.

**1. What is 6 to the power of 5?**

In [ ]:
# Use Python code to answer the question above

**2. Split this string into a list**

string = "Hello there Jane!"

In [ ]:
string = "Hello there Jane!"

# Your code here

**3. Given the variables:**

planet = "Earth"

diameter = 12742

* print the following sentence:

The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

# Your code here

**4. Given the list, use indexing to grab the word "Hello"**

L = [1, 2, [3, 4], [5, [100, 200, ['Hello'], 50], 32, 11], 1, 7]

In [ ]:
L = [1, 2, [3, 4], [5, [100, 200, ['Hello'], 50], 32, 11], 1, 7]

# use (normal) index

In [ ]:
# use negative index

**5. Given the dictionary, grab the word "Hello"**

D = {'k1': [1, 2, 3, {'data': ['oh', 'my', 'god', {'science': [1, 2, 'Hello']}]}], 'k2': [10, ['Python', 'programming']]}

In [ ]:
D = {'k1': [1, 2, 3, {'data': ['oh', 'my', 'god', {'science': [1, 2, 'Hello']}]}], 'k2': [10, ['Python', 'programming']]}

# Check keys of the dictionary

In [ ]:
# Check values of the dictionary

In [ ]:
# grab the word "Hello"

**6. Create a function that grabs the email domain from a string of the email address:**

user_id@domain.co.kr

* hint: use the .split() method

In [ ]:
# skeleton of the function
def Get_Domain(email):

  # use the split() here
  
  return domain

In [ ]:
Get_Domain('user_id@domain.co.kr')

**7. Create a function that counts the number of occurrence of the word "dog" in a string**

* hint: use split() to get the list of words in the string

In [ ]:
# skeleton of the function: do account for capitalization

def Count_word_cap(str):

  # initialize count variable
  count = 0

  # use split to get the list of words in the string
  # do account for capitalization

  return count

In [ ]:
# skeleton of the function: do not account for capitalization

def Count_word_nocap(str):

  # initialize count variable
  count = 0

  # use split to get the list of words in the string
  # do not account for capitalization

  return count

In [ ]:
string = 'Dog dog ddog dog Dog dDog dogG'

print(Count_word_cap(string))
print(Count_word_nocap(string))